@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;400;600;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --skew-offset: -250px;
    --color-main: #FFFFFF;
    --color-light: #E5E5E5;
    --color-accent: #FCA311;
    --color-medium: #14213D;
    --color-dark: #000000;
}
/*---------------------------------BEGIN RESET---------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------------------------------END RESET---------------------------------*/
body {
    font-family: 'Oswald', sans-serif;
    background-color: var(--color-main);
    color: var(--color-dark);
}

i {
    font-size: 30px;
    color: var(--color-accent);
    margin-inline: .5rem;
}

.skew-container {
    background-color: var(--color-medium);
    padding-block: 6rem;
    padding-inline: 2rem;
    transform: skewY(-10deg) translateY(var(--skew-offset));
    border-bottom: 20px solid var(--color-accent);
    display: flex;
    justify-content: space-around;
}

.about-me-section {

    display: flex;
    align-items: center;
    position: relative;
    transform: skewY(10deg) translateY(calc((var(--skew-offset) * -1) - 4rem));
}

.portrait {
    width: 550px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 25%);
}

.header-container {
    max-width: 500px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3.5rem 3.5rem;
    background-color: var(--color-light);
    position: relative;
    z-index: -1;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header-container h1 {
    font-size: 3rem;
    font-weight: 600;
}

.header-container p {
    margin-top: 1rem;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.5em;
}

.icons {
    margin-top: 4rem;
    align-self: flex-end;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.project-card {
    border: 1px solid red;
    height: 300px;
}

.icon {
    width: 20px;
}

.thumbnail {
    height: 140px;
    object-fit: cover;
}

footer {
    background-color: var(--color-medium);
    display: flex;;
    justify-content: space-around;
    margin-top: 5rem;

}

.footer-content {
    display: flex;
    transform: translateY(-50px);
}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-light);
    margin: 1.5rem 0 1.5rem 1.5rem;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.footer-text h2 {
    font-size: 2rem;
}

.footer-text p {
    margin-top: .5rem;
    line-height: 1.15;
    font-weight: 400;
    font-size: 1.15rem;
}

.contact-email {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 350ms;
}

.contact-email:hover {
    border-bottom: 2px solid black;
}

.contact-phone {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .portrait {
    box-shadow: -5px 0 10px rgba(0, 0, 0, 35%);
}

@media screen {

}